@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover {
  color: #45b34a;
  text-decoration: none;
}

a,
button,
input {
  outline: medium none;
  color: #45b34a;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
strong {
  font-weight: 700;
}
iframe {
  width: 100%;
  border: none;
  display: block;
}
p {
  margin: 0 0 15px;
}
::-moz-selection {
  background: #45b34a;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #45b34a;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #45b34a;
  color: #fff;
  text-shadow: none;
}
.form-control {
  padding: 15px 24px;
  height: auto;
  border-radius: 0;
  font-size: 14px;
  background-color: transparent;
}
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
}
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
  border: 1px solid #fda02b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
input::-webkit-input-placeholde,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
}
menu,
ol,
ul {
  margin: 0;
  padding: 0 0 0 25px;
}
body {
  font-size: 16px;
  color: #6e6e6e;
  line-height: 26px;
  font-weight: 400;
  background: #fff;
  font-family: Poppins, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
  font-weight: 600;
  color: #1e2637;
}
h1 {
  font-size: 45px;
  line-height: 50px;
  text-transform: uppercase;
}
h2 {
  font-size: 35px;
  line-height: 40px;
}
h3 {
  font-size: 27px;
  line-height: 35px;
}
h4 {
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-size: 19px;
  line-height: 23px;
}
h6 {
  font-size: 16px;
  line-height: 18px;
}
p {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  font-family: Poppins, sans-serif;
  color: #666;
  transition: all 0.5s ease;
}
rs-slide a {
  transition: unset;
}
#totop,
.featured-icon,
.featured-icon-box,
.featured-icon-box .featured-icon,
.owl-item,
.ttm-btn,
button,
img,
span {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#site-header-menu #site-navigation .menu ul li > a,
.accordion .toggle-title a,
.featured-icon-box.style6 .featured-desc p,
.featured-icon-box.style6 .featured-title h5,
.header-btn,
.site-branding,
.social-icons li > a,
.ttm-header-icon,
.ttm-menu-toggle .toggle-block,
.widget-download ul.download li,
a,
a.nav-link,
a.ttm-btn,
i.ttm-btn {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.ttm-processbox-wrapper .featured-content,
.ttm-processbox-wrapper .ttm-processbox .process-num,
a.tp-caption:hover {
  -webkit-transition: all 0.3s ease-in-out 0s !important;
  -moz-transition: all 0.3s ease-in-out 0s !important;
  -ms-transition: all 0.3s ease-in-out 0s !important;
  -o-transition: all 0.3s ease-in-out 0s !important;
  transition: all 0.3s ease-in-out 0s !important;
}
.cart-info a i,
.nav-link span,
.panel-title > a span,
.site-branding a,
.site-branding img,
.ttm-btn span,
.ttm-header-icon.ttm-header-cart-link .navbar-form span,
ul.products li.product .ttm-shop-icon a i {
  -webkit-transition: all 0s ease-in-out 0s;
  -moz-transition: all 0s ease-in-out 0s;
  -ms-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  transition: all 0s ease-in-out 0s;
}
.featured-desc p,
.featured-imagebox .ttm-box-bottom-content,
.ttm-box-bottom-content .featured-desc,
.ttm-box-bottom-content .featured-title h5,
.ttm-box-bottom-content .ttm-icon,
.ttm-history-box-details,
.ttm-history-box-wrapper .ttm-historybox-title h5,
.ttm-historybox-description {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow,
.featured-imagebox-blog {
  -webkit-box-shadow: 0 0 12px 0 rgba(32, 46, 60, 0.06);
  -moz-box-shadow: 0 0 12px 0 rgba(32, 46, 60, 0.06);
  box-shadow: 0 0 12px 0 rgba(32, 46, 60, 0.06);
}
.box-shadow2 {
  -webkit-box-shadow: 0 0 15px 0 rgba(32, 46, 60, 0.12);
  -moz-box-shadow: 0 0 15px 0 rgba(32, 46, 60, 0.12);
  box-shadow: 0 0 15px 0 rgba(32, 46, 60, 0.12);
}
body .page {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
body .page.sidebar-true .site-main {
  padding: 0;
  background-color: #fff;
}
.container-fluid {
  padding: 0 0;
  overflow: hidden;
}
a {
  color: #1e2637;
}
.z-1 {
  z-index: 1 !important;
}
.z-0 {
  z-index: 1 !important;
}
.z-11 {
  z-index: 11 !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-30 {
  font-size: 30px !important;
  line-height: 36px !important;
}
.fs-38 {
  font-size: 38px !important;
}
.desc-line {
  width: 8% !important;
  margin: 0 auto;
  height: 2px !important;
  background-color: #fff;
}
.fw-500 {
  font-weight: 500;
}
.about-overlay-01 {
  top: 100px;
  color: #fff;
  padding: 28px 30px;
  border-radius: 15px;
  font-size: 22px;
  line-height: 31px;
  width: 210px;
  text-align: center;
  position: absolute;
  right: 0;
}
.about-overlay-02 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 15px 30px 15px 30px;
  border-left: 8px solid #1e2637;
}
.about-overlay-02 h3 {
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}
.about-overlay-02 p {
  font-size: 13px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 0;
}
.about-overlay-03 {
  position: absolute;
  right: 15px;
  bottom: 0;
  padding: 10px 23px;
  width: max-content;
}
.about-overlay-03 h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}
.with-border15 img {
  border: 15px solid;
}
.spacing-1 {
  margin-top: 80px;
  margin-bottom: -80px;
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 15px;
}
.spacing-2 {
  padding: 50px 50px 50px 50px;
}
.spacing-3 {
  padding: 40px 40px 30px 40px;
}
.spacing-4 {
  padding: 45px 30px 45px 45px;
}
.spacing-5 {
  padding: 60px 0 60px 0;
}
.spacing-6 {
  padding: 50px 15px 50px 50px;
}
.spacing-7 {
  padding: 50px 50px 50px 15px;
}
.spacing-8 {
  padding: 80px 0 80px 50px;
}
.spacing-9 {
  padding: 80px 60px 80px 0;
}
.spacing-10 {
  padding: 80px 0 80px 40px;
}
.spacing-11 {
  padding: 40px 25px;
}
.spacing-12 {
  padding: 120px 0;
  padding-right: 300px;
  margin: 0;
}
.spacing-13 {
  padding: 90px 0;
}
.spacing-14 {
  padding: 0 25px 90px 0;
  margin-top: -94px;
}
.spacing-15 {
  margin-top: -155px;
  margin-right: 45%;
  padding-top: 75px;
  padding-bottom: 80px;
}
.p-12 {
  padding: 12px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-25 {
  padding-right: 25px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-35 {
  padding-right: 35px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pr-45 {
  padding-right: 45px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pr-55 {
  padding-right: 55px !important;
}
.pr-60 {
  padding-right: 60px !important;
}
.pr-75 {
  padding-right: 75px !important;
}
.pr-80 {
  padding-right: 80px !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-35 {
  padding-left: 35px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pl-45 {
  padding-left: 45px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pl-55 {
  padding-left: 55px !important;
}
.pl-60 {
  padding-left: 60px !important;
}
.pl-65 {
  padding-left: 65px !important;
}
.pl-70 {
  padding-left: 70px !important;
}
.pl-75 {
  padding-left: 75px !important;
}
.pl-80 {
  padding-left: 80px !important;
}
.pt-2 {
  padding-top: 2px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-18 {
  padding-top: 18px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-55 {
  padding-top: 55px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-65 {
  padding-top: 65px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-75 {
  padding-top: 75px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-35 {
  padding-bottom: 35px !important;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-55 {
  padding-bottom: 55px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.ptb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-23 {
  margin-top: 23px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-37 {
  margin-top: 37px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mt_5 {
  margin-top: -5px !important;
}
.mt_10 {
  margin-top: -10px !important;
}
.mt_12 {
  margin-top: -12px !important;
}
.mt_15 {
  margin-top: -15px !important;
}
.mt_25 {
  margin-top: -25px !important;
}
.mt_30 {
  margin-top: -30px !important;
}
.mt_40 {
  margin-top: -40px !important;
}
.mt_50 {
  margin-top: -50px !important;
}
.mt_55 {
  margin-top: -55px !important;
}
.mt_60 {
  margin-top: -60px !important;
}
.mt_70 {
  margin-top: -70px !important;
}
.mt_72 {
  margin-top: -72px !important;
}
.mt_80 {
  margin-top: -80px !important;
}
.mt_90 {
  margin-top: -90px !important;
}
.mt_95 {
  margin-top: -95px !important;
}
.mt_100 {
  margin-top: -100px !important;
}
.mt_225 {
  margin-top: -225px !important;
}
.mt_230 {
  margin-top: -230px !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-3 {
  margin-left: 3px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-35 {
  margin-left: 35px !important;
}
.ml-65 {
  margin-left: 65px !important;
}
.ml-287 {
  margin-left: 287px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.ml_30 {
  margin-left: -30px !important;
}
.ml_40 {
  margin-left: -40px !important;
}
.ml_230 {
  margin-left: -230px !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-35 {
  margin-right: 35px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.mr_20 {
  margin-right: -20px;
}
.mr_30 {
  margin-right: -30px;
}
.mr_25 {
  margin-right: -25px;
}
.mr_40 {
  margin-right: -40px;
}
.mr_60 {
  margin-right: -60px;
}
.mr_80 {
  margin-right: -80px;
}
.mb_1 {
  margin-bottom: -1px !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-27 {
  margin-bottom: 27px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-55 {
  margin-bottom: 55px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.mb_30 {
  margin-bottom: -30px !important;
}
.mb_60 {
  margin-bottom: -60px !important;
}
.mb_80 {
  margin-bottom: -80px !important;
}
.mb_85 {
  margin-bottom: -85px !important;
}
#payment .payment_box:before,
#site-header-menu #site-navigation .menu ul.dropdown > li.active > a,
#site-header-menu #site-navigation .menu ul.sub-menu li > a:hover,
#site-header-menu #site-navigation .menu ul.sub-menu > li.active > a,
#site-header-menu #site-navigation .menu ul > li:hover > a,
#site-header-menu #site-navigation .menu > ul > li > ul > li a:before,
#site-navigation .menu ul > li:hover > a:before,
.about-text-box span a,
.accordion.style2 .toggle .toggle-title a.active:after,
.accordion.style2 .toggle .toggle-title a:after,
.coupon_toggle .coupon_code:before,
.featured-imagebox-portfolio .ttm-media-link a:hover,
.header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover,
.post-meta i,
.section-title h2.title span,
.section-title h5,
.sidebar .widget a:hover,
.timing-box i,
.title-box .breadcrumb-wrapper span:last-child,
.tp-caption.skin-flatborder-button,
.ttm-bgcolor-darkgrey .featured-title h6,
.ttm-bgcolor-grey.ttm-topbar-wrapper .social-icons li > a:hover i,
.ttm-bgcolor-white .section-title h5,
.ttm-blog-classic .ttm-commentbox i,
.ttm-btn-color-skincolor,
.ttm-btn.ttm-btn-color-darkgrey.btn-inline:hover,
.ttm-btn.ttm-btn-color-skincolor,
.ttm-btn.ttm-btn-color-white:hover,
.ttm-fid-icon-wrapper i,
.ttm-fid-view-lefticon.style2 .ttm-fid-icon-wrapper i,
.ttm-header-style-01
  #site-header-menu
  #site-navigation
  .menu
  ul.dropdown
  > li.active
  > a,
.ttm-header-style-01
  #site-header-menu
  #site-navigation
  .menu
  ul.dropdown
  > li:hover
  > a,
.ttm-highlight-fid-style-1 .ttm-fid.inside h4,
.ttm-highlight-fid-style-2 .inside h4,
.ttm-icon_element-bgcolor-white i,
.ttm-icon_element-color-skincolor,
.ttm-pf-single-detail-box ul li i,
.ttm-ptablebox-price-w,
.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li i,
.ttm-team-list-title i,
.ttm-textcolor-skincolor,
.ttm-textcolor-white a:hover,
.ttm-textcolor-white.ttm-topbar-wrapper .social-icons li > a:hover,
.ttm-topbar-wrapper.ttm-textcolor-white a:hover,
.widget_info .widget_icon,
a.tp-caption.dark-text-button:hover,
a:hover,
ul li .icon-box.icon-style-border i {
  color: #45b34a;
}
h1.ttm-textcolor-skincolor,
h2.ttm-textcolor-skincolor,
h3.ttm-textcolor-skincolor,
h4.ttm-textcolor-skincolor,
h5.ttm-textcolor-skincolor,
h6.ttm-textcolor-skincolor {
  color: #45b34a;
}
#site-header-menu #site-navigation .menu ul li a span,
#site-navigation .menu ul.dropdown > li > a:before,
#totop.top-visible,
.about-overlay-01,
.about-overlay-02,
.about-overlay-03,
.accordion .toggle-title a.active,
.color-trigger,
.comment-list a.comment-reply-link:hover,
.coupon button:hover,
.featured-icon-box.style5:before,
.featured-icon-box.style6:hover,
.featured-imagebox-blog .ttm-box-post-date,
.featured-imagebox-portfolio .ttm-media-link a,
.featured-imagebox-portfolio.style1 .featured-content,
.featured-imagebox-portfolio.style2 .featured-content,
.featured-imagebox-services.style1:hover .featured-content,
.featured-imagebox-team .social-icons,
.footer .social-icons li > a:hover,
.mailchimp-inputbox button[type="submit"],
.newsletter-form input[type="submit"],
.place-order button:hover,
.portfolio-slide.owl-theme .owl-dots .owl-dot.active span,
.progress-bar-color-bar_skincolor,
.progress-bar-color-bar_skincolor.progress-bar:before,
.sidebar .widget .tagcloud a:hover,
.sidebar .widget .widget-title:before,
.skin-flat-button,
.testimonial-slide.owl-theme.ttm-bgcolor-white .owl-dots .owl-dot span,
.testimonial-slide.style2.owl-theme .owl-controls .owl-nav div:hover,
.testimonial-slide.style3.owl-theme .owl-dots .owl-dot span,
.tooltip:after,
.top-contact.ttm-highlight-left:after,
.top-contact.ttm-highlight-right:after,
.tp-caption.skin-flat-button,
.tp-caption.skin-flatborder-button:hover,
.tp-shapewrapper,
.ttm-bg-highlight-skin,
.ttm-bgcolor-skincolor,
.ttm-bgcolor-skincolor > .ttm-bg-layer,
.ttm-bgcolor-skincolor > .ttm-bg-layer > .ttm-bg-layer-inner,
.ttm-blog-single .ttm-blog-single-content blockquote:before,
.ttm-blog-single-content .social-icons li > a:hover,
.ttm-box-view-left-image .featured-content .category > a:hover,
.ttm-btn-bgcolor-darkgrey:hover,
.ttm-btn-bgcolor-grey:hover,
.ttm-btn-bgcolor-skincolor,
.ttm-btn-play:after,
.ttm-btn-play:before,
.ttm-btn.ttm-btn-bgcolor-darkgrey:hover,
.ttm-btn.ttm-btn-color-skincolor.ttm-btn-style-border:hover,
.ttm-cart-form button:hover,
.ttm-header-icons .ttm-header-cart-link span.number-cart,
.ttm-header-icons .ttm-header-search-link a,
.ttm-header-icons .ttm-header-search-link a:hover,
.ttm-history-box-wrapper:hover .ttm-history-box-details,
.ttm-icon_element-bgcolor-skincolor,
.ttm-pagination .page-numbers.current,
.ttm-pagination .page-numbers:hover,
.ttm-processbox-wrapper .ttm-processbox:hover .process-num,
.ttm-rt-contact .ttm-custombutton,
.ttm-search-overlay .ttm-site-searchform button,
.ttm-shop-icon .product-btn:hover,
.ttm-tabs ul.tabs li.active a,
.ttm-tabs.ttm-tab-style-classic ul.tabs li.active:after,
.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active a,
.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active a:before,
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li.active a,
.ttm-tag-list span a:hover,
.ttm-video-btn .ttm-video-btn-play,
.ttm-video-btn .ttm-video-btn-play:after,
.ttm-video-btn .ttm-video-btn-play:before,
.ttm-video-play-btn,
.widget .widget-title:after,
.widget-top-rated-products ins,
.widget.widget-nav-menu ul li a:after,
.widget.widget-search .form-group i,
[data-tooltip]:after,
a.checkout-button:hover,
div.product ul.tabs li a:before {
  background-color: #45b34a;
}
.accordion .toggle-title a.active,
.featured-imagebox-portfolio .ttm-media-link a,
.featured-imagebox-team.style1:hover .featured-content,
.footer .social-icons li > a:hover,
.sidebar .widget .tagcloud a:hover,
.skin-border .with-top-border img,
.skin-flat-button,
.skincolor-border,
.testimonial-slide.style2.owl-theme .owl-controls .owl-nav div:hover,
.tp-caption.skin-flat-button,
.tp-caption.skin-flatborder-button,
.ttm-bgcolor-skincolor .panel-title > a,
.ttm-blog-classic .ttm-blog-classic-content blockquote,
.ttm-blog-single-content .social-icons li > a:hover,
.ttm-box-view-left-image .featured-content .category > a:hover,
.ttm-btn.ttm-btn-color-skincolor.ttm-btn-style-border,
.ttm-header-icons .ttm-header-search-link a:hover,
.ttm-header-style-01 .ttm-header-icons .ttm-header-search-link a:hover,
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-skincolor,
.ttm-processbox:hover .ttm-box-image,
.ttm-tabs ul.tabs li.active a,
.widget.widget-search .form-group i,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
  border-color: #45b34a !important;
}
#payment .payment_box,
#site-header-menu #site-navigation .menu > ul,
.coupon_toggle .coupon_code,
.section-title.with-desc .title-header:before,
.tooltip-top:before,
.tooltip:before,
.ttm-rounded-shadow-box,
.ttm-search-overlay,
[data-tooltip]:before,
div.product ul.tabs li.active a:before {
  border-top-color: #45b34a !important;
}
.featured-imagebox-services.style1 .featured-content,
.tooltip-bottom:before,
.ttm-pf-single-detail-box,
.ttm-search-overlay .w-search-form-row:before {
  border-bottom-color: #45b34a !important;
}
.quicklink-box .featured-icon-box .ttm-icon:before,
.ttm-blog-single .ttm-blog-single-content blockquote {
  border-left-color: #45b34a !important;
}
#site-header-menu #site-navigation .menu ul li > a,
.about-text-box,
.accordion.style2 .toggle .toggle-title a,
.accordion.style2 .toggle .toggle-title a.active,
.product-price,
.ttm-bgcolor-skincolor .ttm-btn.ttm-btn-bgcolor-darkgrey:hover,
.ttm-bgcolor-white .section-title h2.title,
.ttm-box-view-left-image .featured-content .category > a,
.ttm-btn.ttm-btn-color-darkgrey,
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover,
.ttm-list.ttm-list-style-icon li,
.ttm-pagination .page-numbers,
.ttm-pf-single-detail-box ul li span,
.ttm-tabs ul.tabs li a,
.ttm-team-details-list,
.ttm-textcolor-darkgrey,
.ttm-textcolor-darkgrey h1,
.ttm-textcolor-darkgrey h2,
.ttm-textcolor-darkgrey h3,
.ttm-textcolor-darkgrey h4,
.ttm-textcolor-darkgrey h5,
.ttm-textcolor-darkgrey h6,
.ttm-textcolor-darkgrey p,
.ttm-textcolor-darkgrey span,
div.product ul.tabs li.active a {
  color: #1e2637;
}
.comment-list a.comment-reply-link,
.featured-icon-box.without-icon .featured-title h5:before,
.featured-imagebox-blog .ttm-box-view-overlay:after,
.featured-imagebox-blog .ttm-box-view-overlay:before,
.featured-imagebox-services.style2 .ttm-box-view-overlay:after,
.featured-imagebox-services.style2 .ttm-box-view-overlay:before,
.progress-bar-color-bar_darkgrey,
.progress-bar-color-bar_darkgrey.progress-bar:before,
.ttm-bgcolor-darkgrey,
.ttm-bgcolor-darkgrey > .ttm-bg-layer,
.ttm-bgcolor-darkgrey > .ttm-bg-layer > .ttm-bg-layer-inner,
.ttm-bgcolor-skincolor .tooltip:after,
.ttm-bgcolor-skincolor [data-tooltip]:after,
.ttm-btn-bgcolor-darkgrey,
.ttm-btn-bgcolor-skincolor:hover,
.ttm-btn-bgcolor-white:hover,
.ttm-btn-color-darkgrey:hover,
.ttm-btn.ttm-btn-bgcolor-darkgrey,
.ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover,
.ttm-header-icons .ttm-header-cart-link a,
.ttm-header-icons .ttm-header-cart-link a:hover,
.ttm-icon_element-bgcolor-darkgrey,
.ttm-shop-icon .product-btn,
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li a,
.widget.widget-nav-menu ul li.active a:before,
.widget.widget-nav-menu ul li:hover a:before,
div.product ul.tabs li a {
  background-color: #1e2637;
}
.sidebar .widget-categories .widget-title:before {
  background-color: #fff;
}
.sidebar .widget-categories ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.darkgrey-border,
.ttm-box-view-left-image .featured-content .category > a,
.ttm-header-icons .ttm-header-cart-link a:hover,
.ttm-header-style-01 .ttm-header-icons .ttm-header-cart-link a:hover,
div.product ul.tabs li a {
  border-color: #1e2637;
}
.ttm-bgcolor-skincolor .testimonials .testimonial-content {
  border-bottom-color: #1e2637;
}
.ttm-bgcolor-skincolor .tooltip-top:before,
.ttm-bgcolor-skincolor .tooltip:before,
.ttm-bgcolor-skincolor [data-tooltip]:before {
  border-top-color: #1e2637 !important;
}
.sidebar .widget.widget-nav-menu ul li.active a:before,
.sidebar .widget.widget-nav-menu ul li:hover a:before {
  border-right-color: #1e2637 !important;
}
#site-header-menu #site-navigation .menu ul li a span,
.ttm-bgcolor-skincolor a,
.ttm-btn-bgcolor-darkgrey,
.ttm-btn-bgcolor-darkgrey:hover,
.ttm-btn-bgcolor-skincolor,
.ttm-btn-bgcolor-skincolor:hover,
.ttm-btn-bgcolor-white:hover,
.ttm-btn.ttm-btn-bgcolor-grey:hover,
.ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover,
.ttm-btn.ttm-btn-color-skincolor.ttm-btn-bgcolor-skincolor:hover,
.ttm-btn.ttm-btn-color-skincolor.ttm-btn-bgcolor-white:hover,
.ttm-btn.ttm-btn-color-skincolor.ttm-btn-style-border:hover,
.ttm-btn.ttm-btn-color-white.ttm-btn-bgcolor-skincolor:hover,
.ttm-btn.ttm-btn-color-white.ttm-btn-bgcolor-white:hover,
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-white,
.ttm-textcolor-white .featured-content .featured-title h5 a,
.ttm-textcolor-white .ttm-fid-icon-wrapper i,
.ttm-textcolor-white .ttm-social-links-wrapper ul li a,
.ttm-textcolor-white .ttm-social-links-wrapper ul li a:hover,
.ttm-textcolor-white a,
.ttm-textcolor-white h1,
.ttm-textcolor-white h2,
.ttm-textcolor-white h3,
.ttm-textcolor-white h4,
.ttm-textcolor-white h5,
.ttm-textcolor-white h6,
a.ttm-btn-bgcolor-darkgrey,
a.ttm-btn-bgcolor-darkgrey:hover,
a.ttm-btn-bgcolor-skincolor,
a.ttm-btn-bgcolor-skincolor:hover {
  color: #fff;
}
.banner-img-box .featured-content .featured-desc p,
.banner-img-box .featured-content ul li,
.banner-img-box .featured-content ul li a,
.mailchimp-inputbox input::placeholder,
.top-contact li a:hover,
.ttm-bgcolor-darkgrey .section-title .title-desc,
.ttm-bgcolor-darkgrey .testimonial-content h6,
.ttm-bgcolor-darkgrey .testimonials .testimonial-content blockquote,
.ttm-bgcolor-darkgrey .testimonials .testimonial-content label,
.ttm-bgcolor-darkgrey p,
.ttm-bgcolor-skincolor .section-title .title-desc,
.ttm-bgcolor-skincolor .testimonial-content h6,
.ttm-bgcolor-skincolor .testimonials .testimonial-content blockquote,
.ttm-bgcolor-skincolor .testimonials .testimonial-content label,
.ttm-bgcolor-skincolor a:hover,
.ttm-bgcolor-skincolor input::placeholder,
.ttm-bgcolor-skincolor p,
.ttm-bgcolor-skincolor select::placeholder,
.ttm-bgcolor-skincolor textarea::placeholder,
.ttm-bgcolor-skincolor ul.top-contact li a:hover,
.ttm-bgcolor-skincolor.ttm-topbar-wrapper ul.social-icons li > a:hover,
.ttm-textcolor-white .testimonials .testimonial-content label,
.ttm-topbar-wrapper .social-icons li > a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.accordion .toggle-title a.active,
.featured-icon-box.style5 .ttm-btn.ttm-btn-color-white:hover,
.featured-icon-box.style6:hover .featured-desc p,
.featured-icon-box.style6:hover .featured-title h5,
.featured-icon-box.style6:hover .ttm-btn.ttm-btn-color-skincolor,
.featured-icon-box.style6:hover .ttm-icon_element-color-skincolor,
.featured-imagebox-portfolio .featured-title h5 a,
.featured-imagebox-portfolio .ttm-media-link a,
.featured-imagebox-services.style1:hover .featured-desc p,
.featured-imagebox-services.style1:hover .featured-title h5 a,
.featured-imagebox-services.style1:hover .ttm-btn,
.featured-imagebox-team.style2 .featured-content p.category,
.heilight-white-text,
.sidebar .widget .tagcloud a:hover,
.sidebar .widget.widget-nav-menu ul li.active a,
.sidebar .widget.widget-nav-menu ul li:hover a,
.social-icons li > a:hover,
.ttm-bgcolor-darkgrey .featured-title h5,
.ttm-bgcolor-darkgrey .inside h3,
.ttm-bgcolor-darkgrey .section-title h2.title,
.ttm-bgcolor-darkgrey .section-title h2.title span,
.ttm-bgcolor-darkgrey .section-title h5,
.ttm-bgcolor-darkgrey .ttm-bgcolor-skincolor,
.ttm-bgcolor-darkgrey .ttm-fid.inside h4,
.ttm-bgcolor-darkgrey .ttm-progress-bar .progress-bar-percent,
.ttm-bgcolor-darkgrey .ttm-progress-bar .progress-bar-title,
.ttm-bgcolor-skincolor .featured-title h5,
.ttm-bgcolor-skincolor .featured-title h6,
.ttm-bgcolor-skincolor .inside h3,
.ttm-bgcolor-skincolor .section-title h2.title,
.ttm-bgcolor-skincolor .section-title h2.title span,
.ttm-bgcolor-skincolor .section-title h5,
.ttm-bgcolor-skincolor .ttm-fid-icon-wrapper i,
.ttm-bgcolor-skincolor .ttm-fid.inside h4,
.ttm-bgcolor-skincolor .ttm-progress-bar .progress-bar-percent,
.ttm-bgcolor-skincolor .ttm-progress-bar .progress-bar-title,
.ttm-box-view-left-image .featured-content .category > a:hover,
.ttm-btn.ttm-btn-bgcolor-darkgrey,
.ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover,
.ttm-btn.ttm-btn-color-white,
.ttm-header-style-01 .top-contact li,
.ttm-header-style-01 .top-contact li a,
.ttm-header-style-01 .ttm-topbar-wrapper .social-icons li > a,
.ttm-header-style-02 .top-contact li,
.ttm-header-style-02 .top-contact li a,
.ttm-header-style-02 .ttm-custombutton a,
.ttm-header-style-02 .ttm-topbar-wrapper .social-icons li > a,
.ttm-highlight-right li,
.ttm-history-box-wrapper:hover .ttm-btn.ttm-btn-color-skincolor,
.ttm-history-box-wrapper:hover .ttm-historybox-description,
.ttm-history-box-wrapper:hover .ttm-historybox-title h5,
.ttm-icon_element-bgcolor-darkgrey i,
.ttm-icon_element-bgcolor-skincolor i,
.ttm-icon_element-color-white i,
.ttm-pagination .page-numbers.current,
.ttm-pagination .page-numbers:hover,
.ttm-rt-contact .ttm-custombutton a,
.ttm-rt-contact .ttm-custombutton a:hover,
.ttm-tabs ul.tabs li.active a,
.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active i,
.ttm-tag-list span a:hover,
.ttm-textcolor-white,
.ttm-textcolor-white a,
.widget-top-rated-products ins,
.widget.widget-search .form-group i {
  color: #fff;
}
.header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover,
.ttm-bgcolor-darkgrey .ttm-custombutton.ttm-btn-bgcolor-skincolor:hover,
.ttm-bgcolor-skincolor .inside.ttm-fid-view-topicon h3:after,
.ttm-bgcolor-skincolor .ttm-btn.ttm-btn-bgcolor-darkgrey:hover,
.ttm-bgcolor-white,
.ttm-bgcolor-white > .ttm-bg-layer,
.ttm-bgcolor-white > .ttm-bg-layer > .ttm-bg-layer-inner,
.ttm-btn-bgcolor-white,
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover,
.ttm-btn.ttm-btn-style-border.ttm-bgcolor-white,
.ttm-col-bgcolor-skincolor .inside.ttm-fid-view-topicon h3:after,
.ttm-header-style-01 .ttm-stickable-header.fixed-header,
.ttm-icon_element-bgcolor-white {
  background-color: #fff;
}
.header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover,
.ttm-bgcolor-darkgrey .featured-icon-box .featured-icon.ttm-icon_element-border,
.ttm-bgcolor-grey .ttm-pagination .page-numbers,
.ttm-bgcolor-skincolor
  .featured-icon-box
  .featured-icon.ttm-icon_element-border,
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover,
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-white,
.white-border {
  border-color: #fff;
}
.ttm-bgcolor-skincolor .heading-seperator span:after,
.ttm-bgcolor-skincolor .heading-seperator:after {
  border-bottom-color: #fff !important;
}
.ttm-bgcolor-darkgrey .separator .sep-line,
.ttm-bgcolor-skincolor .separator .sep-line {
  border-color: rgba(255, 255, 255, 0.07);
}
.ttm-bgcolor-darkgrey .section-title.with-desc .title-header:before,
.ttm-bgcolor-skincolor .section-title.with-desc .title-header:before {
  border-top-color: #fff !important;
}
.ttm-bgcolor-darkgrey .section-title.style2 .title-header:after,
.ttm-bgcolor-skincolor .section-title.style2 .title-header:after {
  background-color: rgba(240, 240, 240, 0.09);
}
.banner-img-box .featured-content ul li:not(:last-child) {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.sidebar .ttm-bgcolor-grey > .ttm-bg-layer,
.ttm-bgcolor-grey,
.ttm-bgcolor-grey > .ttm-bg-layer,
.ttm-blog-single-content .social-icons li > a,
.ttm-btn-bgcolor-grey,
.ttm-icon_element-bgcolor-grey,
.ttm-search-overlay .ttm-site-searchform input[type="search"] {
  background-color: #f7f9fe;
}
.ttm-bgcolor-grey {
  background: rgba(108, 203, 130, 0.1);
}
.grey-boder {
  border-color: #f7f9fe !important;
}
.grey-bg-shape {
  background-color: #b6bfd5;
}
.ttm-ratting-star {
  color: #f5cc26 !important;
  position: absolute;
  right: 0;
  bottom: 20px;
  display: none;
}
.about-overlay-02 h3 {
  font-family: "Playfair Display", Arial, Helvetica;
}
.about-overlay-03 h3 {
  font-family: Arimo, sans-serif;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/icons/preloader.svg);
}
#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -30px 0 0 -30px;
}
#status {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
  background-image: url(../images/pre-loader-1.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.social-icons ul {
  margin: 0;
  padding: 0;
}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.social-icons li {
  display: inline-block;
  border: none;
  margin: 0 3px;
}
.social-icons.circle li > a,
.social-icons.square li > a {
  border: 1px solid #e8ecef;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  display: block;
  font-size: 13px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.social-icons.square li > a {
  border-radius: 0;
}
.ttm-bgcolor-darkgrey .social-icons.circle li > a,
.ttm-bgcolor-skincolor .social-icons.circle li > a {
  border: none;
  color: #2c2c2c;
}
.ttm-bgcolor-darkgrey .social-icons.circle li > a,
.ttm-bgcolor-skincolor .social-icons.circle li > a {
  background-color: #fff;
}
.tooltip-bottom,
.tooltip-top {
  position: relative;
}
.tooltip:after,
.tooltip:before,
[data-tooltip]:after,
[data-tooltip]:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: 0 0;
  content: "";
}
.tooltip-top:before,
.tooltip:before,
[data-tooltip]:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: #182333;
}
.tooltip-top:after,
.tooltip-top:before,
.tooltip:after,
.tooltip:before,
[data-tooltip]:after,
[data-tooltip]:before {
  bottom: 78%;
  left: 50%;
}
.tooltip-top:focus:after,
.tooltip-top:focus:before,
.tooltip-top:hover:after,
.tooltip-top:hover:before,
.tooltip:focus:after,
.tooltip:focus:before,
.tooltip:hover:after,
.tooltip:hover:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  -webkit-transform: translateY(-16px);
  -moz-transform: translateY(-16px);
  transform: translateY(-16px);
}
.tooltip-top:after,
.tooltip:after,
[data-tooltip]:after {
  margin-left: -20px;
}
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: auto;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  border-radius: 5px;
}
.tooltip:focus:after,
.tooltip:focus:before,
.tooltip:hover:after,
.tooltip:hover:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}
.tooltip-bottom:after {
  bottom: -68px;
  left: 0;
  margin-left: -10px;
}
.tooltip-bottom:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: transparent !important;
}
.tooltip-bottom:before {
  bottom: -24px;
}
.ttm-topbar-wrapper {
  line-height: 51px;
  height: 52px;
}
.ttm-topbar-wrapper .top-contact.text-left {
  position: relative;
  float: left;
  line-height: 52px;
}
.ttm-topbar-wrapper .top-contact.text-left li:not(:last-child):before {
  content: "";
  height: 18px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.09);
  display: block;
  position: absolute;
  right: 0;
  top: 17px;
}
.ttm-bgcolor-grey.ttm-topbar-wrapper .top-contact li:not(:last-child):before,
.ttm-bgcolor-grey.ttm-topbar-wrapper .topbar-right .top-contact li:before {
  background-color: rgba(0, 0, 0, 0.09);
}
.top-contact li {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.top-contact li:first-child {
  padding-left: 0 !important;
}
.top-contact li strong {
  font-weight: 500;
}
.top-contact {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  display: inline-block;
  position: relative;
}
.topbar-right .top-contact li:before {
  content: "";
  height: 18px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.09);
  display: block;
  position: absolute;
  right: 0;
  top: 17px;
}
.topbar-right .top-contact.ttm-highlight-right li:last-child:after {
  content: unset;
}
.ttm-topbar-wrapper .ttm-social-links-wrapper {
  margin: 0;
  position: relative;
  padding-left: 5px;
  padding-right: 15px;
}
.ttm-topbar-wrapper .social-icons li {
  margin: 0 3px;
}
.ttm-topbar-wrapper .social-icons li > a {
  display: block;
  border: none;
  width: 16px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
}
.ttm-bgcolor-grey.ttm-topbar-wrapper .social-icons li > a {
  color: inherit;
}
.ttm-topbar-wrapper .social-icons li > a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}
.ttm-topbar-content .topbar-right .list-inline {
  display: inline-block;
  line-height: 52px;
  padding-right: 0;
}
.top-contact.ttm-highlight-left {
  margin-right: 15px;
  padding-right: 5px;
}
.top-contact.ttm-highlight-right {
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}
.top-contact.ttm-highlight-left:after,
.top-contact.ttm-highlight-right:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 5000px;
  height: 100%;
}
.top-contact.ttm-highlight-right:after {
  right: 0;
}
.top-contact.ttm-highlight-right:after {
  left: 0;
}
.top-contact strong {
  font-weight: 600;
}
.top-contact i {
  margin-right: 9px;
}
.site-branding {
  float: left;
  height: 100px;
  line-height: 100px;
  position: relative;
  display: block;
  z-index: 1;
}
.ttm-header-top-wrapper {
  position: relative;
}
.site-branding img {
  max-height: 55px;
}
.ttm-header-style-01 .site-branding img {
  height: 100%;
  max-height: 60px;
  margin-top: 15px;
}
.ttm-header-style-01 .fixed-header .site-branding img {
  max-height: 46px;
  margin-top: 0;
}
.ttm-header-style-05 .fixed-header .site-branding img {
  max-height: 46px;
  margin-top: 0;
}
.site-navigation {
  position: relative;
}
#site-header-menu #site-navigation .menu ul li ul > li:not(:last-child) {
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.04);
}
#site-header-menu #site-navigation .menu ul {
  padding: 0;
  margin: 0;
  position: initial;
}
.ttm-menu-toggle {
  float: right;
}
.ttm-menu-toggle input[type="checkbox"] {
  display: none;
}
#site-header-menu #site-navigation .menu > ul > li {
  display: inline-block;
}
#site-header-menu #site-navigation .menu ul li:hover > ul {
  opacity: 1;
  display: block;
  visibility: visible;
  background: #f0faf2;
  height: auto;
  transform: translate(0, 0);
}
#site-header-menu #site-navigation .menu > ul > li > .megamenu > li i {
  color: #45b34a;
}
#site-header-menu #site-navigation .menu > ul > li > .megamenu > li span {
  color: #fff;
  background: #45b34a;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: 15px;
}
#site-header-menu #site-navigation .menu > ul > li > .megamenu > li span:hover {
  color: #fff;
  background: #075e89;
}
#site-header-menu #site-navigation .menu ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
#site-header-menu #site-navigation .menu ul li > a {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 19px;
  color: #1e2637;
}
#site-header-menu #site-navigation ul ul li {
  position: relative;
  border-bottom: 1px solid transparent;
}
#site-header-menu #site-navigation .menu ul li > ul li > a {
  margin: 0;
  display: block;
  padding: 15px 20px;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
  height: auto;
  line-height: 18px;
}
#site-header-menu #site-navigation .menu ul > li > ul li.has-submenu > a:after {
  content: "\f105";
  position: absolute;
  background-color: transparent;
  right: 12px;
  top: 16px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 15px;
  margin-left: 4px;
  opacity: 0.8;
}
#site-header-menu #site-navigation .menu ul li a span {
  padding: 1px 3px 2px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 7px;
}
#site-header-menu #site-navigation .menu ul .megamenu {
  text-align: left;
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  line-height: 14px;
  padding: 15px 20px;
  left: 0;
  right: auto;
  top: auto;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  transition: all 0.2s ease;
  z-index: 99;
  background-color: #f0faf2;
  width: 100% !important;
  max-height: 280px !important;
  overflow-y: scroll;
  transform: translate(0, 10px);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in,
    visibility 0.2s ease-in;
}
#site-header-menu #site-navigation .menu ul .megamenu::-webkit-scrollbar {
  width: 8px;
  background-color: #45b34a;
}
#site-header-menu #site-navigation .menu ul .megamenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f0faf2;
}
#site-header-menu #site-navigation .menu ul .megamenu::-webkit-scrollbar-thumb {
  background-color: #45b34a;
}
.ttm-header-icons {
  position: relative;
  padding-left: 25px;
}
.ttm-header-icons .ttm-header-cart-link a,
.ttm-header-icons .ttm-header-search-link a {
  position: relative;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 31px;
  width: 31px;
  line-height: 31px;
  color: #0b0c26;
  border-color: #0b0c26;
  font-size: 12px !important;
  z-index: 9;
  color: #fff;
}
.ttm-header-icons .ttm-header-cart-link a:hover,
.ttm-header-icons .ttm-header-search-link a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}
.ttm-header-icons .ttm-header-cart-link a i,
.ttm-header-icons .ttm-header-search-link a i {
  font-weight: 900;
  font-size: 11px;
}
.ttm-header-icons .ttm-header-cart-link {
  padding-left: 4px;
  padding-right: 0;
}
.ttm-header-icons .ttm-header-icon {
  margin-left: 7px;
}
.ttm-header-icons .ttm-header-cart-link span.number-cart {
  position: absolute;
  bottom: 20px;
  left: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 9px;
  display: block;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-btn .ttm-btn.ttm-btn-size-md {
  font-size: 14px;
  padding: 13px 25px 13px 25px;
  height: 52px;
  line-height: 25px;
}
.ttm-header-style-01 .header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover {
  background-color: #fff !important;
}
.ttm-header-icon,
.ttm-header-icons {
  height: 100px;
  line-height: 100px;
  float: right;
}
.ttm-header-icon {
  position: relative;
}
.ttm-search-overlay {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  background: #fff;
  border-top: 3px solid;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 111;
}
.ttm-header-style-01 .ttm-search-overlay .w-search-form-row:before {
  right: 5px;
}
.ttm-search-overlay .w-search-form-row {
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 20px;
}
.ttm-search-overlay .w-search-form-row:before {
  position: absolute;
  right: 5px;
  top: -8px;
  width: 47px;
  height: 47px;
  text-align: center;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid;
  content: " ";
}
.ttm-search-overlay .ttm-site-searchform input[type="search"] {
  font-size: 14px;
  text-align: left;
  height: 45px;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none !important;
  color: #333;
  width: 88%;
  line-height: 45px;
  float: left;
  padding: 9px 15px;
}
.ttm-search-overlay .ttm-site-searchform button {
  font-size: 14px;
  width: 12%;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: 45px;
  text-align: center;
  display: block;
  line-height: 50px;
  color: #fff;
  float: left;
}
.ttm-header-search-link .ttm-tectxon-icon-search:before {
  font-weight: 600;
}
.ttm-tectxon-icon-search:before {
  content: "\e825";
  font-family: themify;
}
.ttm-search-overlay.st-show {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.new-pagination .shadow-sm svg {
  height: 20px;
}
.leading-5 {
  font-weight: 600;
}
.new-pagination .flex.flex-1 {
  display: none;
}
.new-pagination .hidden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.widget_info {
  position: relative;
}
.widget_info:not(:last-child) {
  padding-right: 50px;
}
.widget_info .widget_icon {
  font-size: 34px;
}
.widget_info .widget_content {
  margin-left: 14px;
  position: relative;
}
.widget_info:not(:last-child) .widget_content:after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #f3f3f3;
  display: block;
  position: absolute;
  right: -25px;
  top: 0;
}
.widget_info .widget_title {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
.widget_info .widget_desc {
  font-size: 15px;
  line-height: 1;
  margin-bottom: 0;
}
.inquiry-section-area .modal-dialog {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  max-width: 95%;
}
.inquiry-section-area .modal-content {
  border: none;
}
.inquiry-section-area .modal-header {
  border: none;
  background: #45b34a;
}
.modal-header .close {
  padding: 10px;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 15px;
  outline: 0;
  border-bottom-left-radius: 25px;
  background: #fff;
  opacity: 1;
  z-index: 99;
  top: 15px;
}
.inquiry-section-area .modal-header h4 {
  padding: 0;
  margin: 0;
}
.inquiry-section-area .inquiry-pop-form {
  padding: 80px 40px 80px 40px;
  background: #ffffff12;
}
.inquiry-section-area input::-webkit-input-placeholder,
.newsletter-form input[type="email"]::-webkit-input-placeholder {
  color: #000 !important;
}
.inquiry-section-area input::-moz-placeholder,
.newsletter-form input[type="email"]::-moz-placeholder {
  color: #000 !important;
}
.inquiry-section-area input:-ms-input-placeholder,
.newsletter-form input[type="email"]:-ms-input-placeholder {
  color: #000 !important;
}
.inquiry-section-area input:-moz-placeholder,
.newsletter-form input[type="email"]:-moz-placeholder {
  color: #000 !important;
}
.inquiry-section-area textarea::-webkit-input-placeholder {
  color: #000 !important;
}
.inquiry-section-area textarea::-moz-placeholder {
  color: #000 !important;
}
.inquiry-section-area textarea:-ms-input-placeholder {
  color: #000 !important;
}
.inquiry-section-area textarea:-moz-placeholder {
  color: #000 !important;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.footer .widget {
  margin: 70px 0 55px;
}
.footer .ttm-textcolor-white {
  color: rgba(255, 255, 255, 0.8);
}
.footer .widget .ttm-btn.ttm-btn-size-md {
  padding: 14px 27px 14px 27px;
}
.footer .widget ul > li {
  padding: 0 0 9px 0;
}
.first-footer {
  padding: 40px 0 40px 0;
}
.footer-logo img {
  max-height: 45px;
}
.first-footer .featured-icon-box .ttm-icon.ttm-icon_element-size-md {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.first-footer .featured-content {
  padding-left: 12px !important;
}
.first-footer .ttm-btn {
  font-weight: 500;
  font-size: 15px;
}
.first-footer .ttm-btn i {
  font-size: 15px;
}
.second-footer .quicklink-box {
  padding: 17px 15px;
  border: 1px solid #2e384d;
  background-color: #222c40;
  margin: 22px 0 0;
  position: relative;
}
.quicklink-box .featured-icon-box .ttm-icon.ttm-icon_element-size-md {
  height: 50px;
  width: 50px;
  line-height: 51px;
}
.quicklink-box .featured-icon-box .ttm-icon:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  z-index: 1;
  top: 19px;
  right: -7px;
  border: 7px solid transparent;
  border-right: 0;
  border-left-color: #000;
}
.quicklink-box .featured-icon-box .ttm-icon span {
  font-size: 23px;
}
.quicklink-box .featured-title h5 {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0;
}
.quicklink-box .featured-content {
  padding-left: 15px !important;
}
.bottom-footer-text {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}
.newsletter-form {
  position: relative;
  margin-bottom: 4px;
}
.newsletter-form input[type="email"] {
  background-color: rgba(108, 203, 130, 0.1);
  height: 47px;
  width: 100%;
  font-size: 14px;
  outline: 0;
  padding: 9px 40px;
  border: 3px solid rgb(0 0 0 / 9%);
  color: #000;
  border-radius: 28px;
}
.newsletter-form .subscribe-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-size: 16px;
  background: #45b34a;
  border: 3px solid rgb(87 92 88 / 29%);
  color: #fff;
  height: 47px;
  width: 47px;
  padding: 0;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.newsletter-form .subscribe-btn:hover {
  background: rgba(108, 203, 130, 0.1);
  border: 3px solid #45b34a;
  color: #000;
}
.newsletter-form i {
  padding-right: 1px;
  position: absolute;
  left: 15px;
  top: 17px;
}
.mailchimp-inputbox:after {
  position: absolute;
  content: "\f1d9";
  top: 10px;
  right: 18px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-size: 16px;
  color: #fff;
  z-index: 1;
}
.widget ul {
  margin: 0;
  padding: 0;
}
.widget ul > li {
  padding: 0 0 13px 0;
  position: relative;
}
.widget .widget-title {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}
.footer .social-icons li {
  margin-left: 3px;
  margin-right: 3px;
  min-width: auto;
  padding-bottom: 0 !important;
}
.footer .social-icons li:first-child {
  margin-left: 0;
}
.footer .social-icons li > a {
  font-size: 16px;
  background-color: rgba(108, 203, 130, 0.1);
  border: 3px solid rgb(0 0 0 / 9%);
  border-radius: 0 10px;
}
.footer .social-icons li > a:hover {
  border: 3px solid rgb(0 0 0 / 9%);
  border-radius: 0 10px;
}
.widget.link-widget ul li:last-child {
  padding-bottom: 0;
}
.copyright {
  padding-top: 18px;
  padding-bottom: 18px;
}
.copyright a {
  color: #45b34a;
  font-weight: 600;
}
.copyright a:hover {
  color: #000;
  font-weight: 600;
}
.footer-nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav-menu li {
  display: inline-block;
  padding-left: 2px;
  padding-right: 16px;
  font-size: 14px;
  padding-bottom: 0;
}
.footer-nav-menu li:last-child {
  padding-right: 0;
}
.footer-nav-menu li:first-child {
  padding-left: 0;
}
ul.footer-nav-menu li:not(:last-child):after {
  position: absolute;
  content: "|";
  padding-left: 7px;
}
#totop {
  font-weight: 900;
  color: #fff;
  display: none;
  position: fixed;
  right: 34px;
  bottom: 90px;
  z-index: 999;
  height: 0;
  width: 0;
  font-size: 0;
  text-align: center;
  padding-top: 3px;
  line-height: 34px;
  border-radius: 3px;
}
#totop.top-visible {
  height: 50px;
  width: 40px;
  font-size: 20px;
  border: 4px solid rgba(108, 203, 130, 0.1);
  display: inline;
}
.particlehead {
  background: #abe1fd;
}
.ttm-page-title-row {
  position: relative;
  background-image: url(../images/icons/office.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.breadcrumb-section {
  padding-top: 200px !important;
  padding-bottom: 100px !important;
  margin-top: 55px !important;
}
div.ttm-page-title-row > .ttm-bg-layer {
  background-color: rgba(24, 35, 51, 0.85);
}
.ttm-page-title-row {
  display: block;
  padding-top: 255px;
  padding-bottom: 160px;
  z-index: 11;
}
.title-box .page-title-heading h1 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}
.title-box .page-title-heading {
  position: relative;
  width: 50%;
}
.breadcrumb-wrapper span {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 25px;
}
#map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
.map-wrapper {
  height: 450px;
}
.error-404 {
  position: relative;
}
.page-header {
  margin: 40px 0 20px;
}
section.error-404 {
  padding: 300px 0 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.error-404 .ttm-big-icon {
  font-size: 150px;
}
section.error-404 h1 {
  font-size: 95px;
  text-transform: uppercase;
  line-height: 100%;
}
section.error-404 .page-content p {
  font-size: 18px;
  margin-bottom: 30px;
}
.list-style-disc {
  list-style-type: disc !important;
}
.list-style-decimal {
  list-style-type: decimal !important;
}
ul.ttm-list {
  list-style: none;
  padding: 0;
  padding-left: 0;
}
.ttm-list.ttm-list-style-icon li i {
  position: absolute;
  left: 0;
  top: 5px;
}
.ttm-list.ttm-list-style-icon li {
  padding-left: 22px;
  list-style: none;
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
}
.ttm-list.ttm-list-textsize-medium li {
  font-size: 16px;
  padding-bottom: 9px;
}
.ttm-history-box-wrapper {
  position: relative;
  text-align: center;
  margin-top: 5px;
}
.ttm-history-box-wrapper .ttm-history-box-icon-wrapper {
  position: relative;
}
.ttm-history-box-wrapper .ttm-icon.ttm-icon_element-size-md {
  height: 70px;
  width: 70px;
  line-height: 70px;
  border: 1px solid #e5e5e5;
}
.ttm-history-box-wrapper .ttm-icon.ttm-icon_element-size-md i {
  font-size: 35px;
}
.ttm-history-box-icon-wrapper:before {
  position: absolute;
  content: " ";
  top: 74px;
  height: 90px;
  width: 1px;
  background-color: #e8eaed;
}
.ttm-history-box-wrapper .ttm-history-box-border {
  position: relative;
  margin: 39px 0 43px;
  border: 1px dashed #e5e5e5;
  width: 111%;
}
.ttm-history-box-border:before {
  position: absolute;
  content: " ";
  left: 50%;
  margin-left: -19px;
  height: 12px;
  width: 12px;
  z-index: 1;
  border-radius: 50px;
  background-color: #e8eaed;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -7px;
}
.ttm-history-box-details {
  text-align: center;
  background-color: #fff;
  padding: 40px 30px 40px;
  -webkit-box-shadow: 0 0 12px 0 rgba(32, 46, 60, 0.06);
  -moz-box-shadow: 0 0 12px 0 rgba(32, 46, 60, 0.06);
  box-shadow: 0 0 12px 0 rgba(32, 46, 60, 0.06);
}
.ttm-history-box-wrapper .ttm-historybox-title h5 {
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 8px;
}
.ttm-history-box-wrapper:hover .ttm-icon.ttm-icon_element-size-md {
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.ttm-pf-single-detail-box {
  padding: 35px 35px 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  border-bottom: 3px solid #000;
}
.ttm-pf-single-title h5 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 11px;
}
.ttm-pf-single-detail-box ul li {
  position: relative;
  display: block;
  padding: 15px 0 15px 0;
  font-size: 15px;
  margin-left: 3px;
}
.ttm-pf-single-detail-box ul {
  margin: 0;
  padding: 0;
}
.ttm-pf-single-detail-box ul li i {
  margin-right: 10px;
  font-size: 16px;
}
.ttm-pf-single-detail-box ul li span {
  font-weight: 500;
  margin-right: 5px;
}
.ttm-pf-single-detail-box ul li:not(:last-child) {
  border-bottom: 1px solid #e8ecef;
}
.ttm-nextprev-bottom-nav .nav-next a:after,
.ttm-nextprev-bottom-nav .nav-previous a:after {
  position: absolute;
  font-size: 15px;
  top: 10px;
}
.ttm-nextprev-bottom-nav .nav-previous a {
  padding-right: 25px;
  padding-left: 44px;
}
.ttm-nextprev-bottom-nav .nav-previous a:after {
  content: "\f100";
  font-family: FontAwesome;
  left: 25px;
}
.ttm-nextprev-bottom-nav .nav-next a {
  padding-right: 50px;
  padding-left: 32px;
}
.ttm-nextprev-bottom-nav .nav-next a:after {
  content: "\f101";
  font-family: FontAwesome;
  right: 25px;
}
.ttm-pf-single-related-wrapper {
  margin-top: 50px;
}
.featured-icon .service-feature-image {
  height: 57px;
  width: 57px;
}
article.ttm-blog-classic {
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
}
.post-featured-wrapper,
article.ttm-blog-classic {
  position: relative;
}
.ttm-blog-classic .ttm-box-post-date .entry-date,
.ttm-blog-classic .ttm-box-post-date .entry-month {
  display: block;
  font-size: 22px;
  line-height: 18px;
}
article.ttm-blog-classic .ttm-blog-classic-content {
  padding: 45px 30px 30px;
  background: #fff;
  z-index: 1;
  position: relative;
}
article.ttm-blog-classic .ttm-post-entry-header {
  position: absolute;
  top: -20px;
  left: auto;
}
.ttm-blog-classic .post-meta {
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  margin: 0;
}
.ttm-blog-classic .post-meta .ttm-meta-line,
.ttm-blog-single-content .post-meta .ttm-meta-line {
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  padding-right: 25px;
  position: relative;
}
.ttm-blog-classic .post-meta .ttm-meta-line:not(:last-child):after,
.ttm-blog-single-content .post-meta .ttm-meta-line:not(:last-child):after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  top: 0;
  right: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
}
.ttm-blog-classic .post-meta .ttm-meta-line i,
.ttm-blog-single-content .post-meta .ttm-meta-line i {
  padding-right: 7px;
  font-size: 13px;
}
.ttm-blog-classic .entry-header .entry-title {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 10px;
}
.ttm-blog-classic .ttm-blogbox-desc-footer {
  margin-top: 15px;
  clear: both;
  overflow: hidden;
}
.ttm-blog-classic .ttm-commentbox i {
  margin-right: 5px;
}
.ttm-blog-single .ttm-blog-single-content blockquote {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  box-shadow: 0 0 15px 0 rgba(40, 61, 88, 0.07);
  padding: 32px 60px 16px 40px;
  position: relative;
  font-weight: 500;
  margin: 35px 0 50px 0;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  color: #6e6e6e;
  border-left: 4px solid;
}
.ttm-blog-single .ttm-blog-single-content blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 70px;
  top: auto;
  bottom: -30px;
  right: 35px;
  width: 70px;
  height: 70px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}
.ttm-tag-list span a {
  padding: 7px 15px;
  background-color: #f7f9fe;
  display: inline-block;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
}
.comments-area {
  margin-top: 50px;
  margin-bottom: 0;
}
.comment-reply-title,
.comments-area h2 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}
.comment-list li {
  position: relative;
  margin-top: 30px;
}
.comment-list,
.comment-list .children {
  list-style-type: none;
  padding: 0;
}
.single-post .comments-area {
  margin-top: 50px;
  margin-bottom: 0;
}
.single-post .comments-area .comments-title {
  font-size: 33px;
  font-weight: 600;
}
.comment-body {
  margin-left: 105px;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 20px 20px;
  position: relative;
  background-color: #f5faff;
  border: 1px solid #f5faff;
}
.comment-body:before {
  position: absolute;
  top: 17px;
  width: 0;
  height: 0;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #f5faff transparent #f5faff;
  z-index: 1;
  content: "";
  left: -12px;
}
.comment-author {
  float: left;
  text-align: center;
  width: 87px;
  height: 87px;
  display: block;
  margin-right: 25px;
  overflow: hidden;
  margin-left: -125px;
  margin-top: -20px;
}
.comment-author img {
  max-width: 100%;
  height: 65px;
  border: 5px solid #dce6ef;
  border-radius: 50%;
}
.comment-meta {
  font-size: 14px;
  padding: 0;
  position: relative;
}
.comment-meta,
.comment-meta a {
  color: #6e6e6e;
  font-size: 13px;
}
.comment-meta .ttm-comment-owner h5,
.ttm-comment-owner {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #182333;
  font-style: normal;
}
.comment-box .author-content-wrap p {
  margin-top: 10px;
}
.single article.post .comment-body p {
  margin-top: 10px;
  margin-bottom: 0;
}
.comment-list a.comment-reply-link {
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 2px 30px 3px 17px;
  position: relative;
  margin-top: 5px;
  display: inline-block;
}
.comment-list a.comment-reply-link:after {
  position: absolute;
  top: 6px;
  font-family: themify;
  content: "\e649";
  font-weight: 400;
  display: inline-block;
  margin-right: 0.2em;
  text-align: center;
  opacity: 1;
  line-height: 22px;
  font-size: 10px;
  margin-left: 8px;
}
.comments-area .comment-respond {
  padding-top: 10px;
}
#respond .comment-reply-title {
  margin: 0 0 20px !important;
}
.comments-area .comment-form input,
.comments-area .comment-form textarea {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
.element-row {
  padding: 40px 0 0;
  position: relative;
}
.element-row .section-title h2.title {
  margin-top: 22px;
  margin-bottom: 25px;
}
.element-row .ttm-row {
  padding: 50px 0;
}
.ttm-progress-bar .progress-bar-color-bar_blue.progress-bar:before,
.ttm-progress-bar .progress-bar.progress-bar-color-bar_blue {
  background-color: #0074cc;
}
.ttm-progress-bar .progress-bar-color-bar_green.progress-bar:before,
.ttm-progress-bar .progress-bar.progress-bar-color-bar_green {
  background-color: #5bb75b;
}
.ttm-progress-bar .progress-bar-color-bar_pink.progress-bar:before,
.ttm-progress-bar .progress-bar.progress-bar-color-bar_pink {
  background-color: #f4524d;
}
.ttm-progress-bar .progress-bar-color-bar_turquoise.progress-bar:before,
.ttm-progress-bar .progress-bar.progress-bar-color-bar_turquoise {
  background-color: #00c1cf;
}
.ttm-progress-bar .progress-bar-color-bar_yellow.progress-bar:before,
.ttm-progress-bar .progress-bar.progress-bar-color-bar_yellow {
  background-color: #ffb300;
}
.ttm-icon.ttm-icon_element-fill {
  color: #fff;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-yellow {
  background-color: #ffb300;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-orange {
  background-color: #ff4c00;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-red {
  background-color: #ff0a26;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-dark_pink {
  background-color: #ff0061;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-mulled_wine {
  background-color: #50485b;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-aqua {
  background-color: #39c8df;
}
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-color-aqua {
  color: #39c8df;
}
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-mulled_wine {
  border: 2px solid #45b34a;
  color: #45b34a;
  border-radius: 10px;
}
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-blue {
  border-color: #5472d2;
  color: #5472d2;
}
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-white {
  border-color: #fff;
  color: #fff;
}
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-yellow {
  border-color: #ffb300;
  color: #ffb300;
}
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-orange {
  border-color: #ff4c00;
  color: #ff4c00;
}
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-red {
  border-color: #ff0a26;
  color: #ff0a26;
}
.element-style .icon-box-wrapper {
  padding-top: 15px;
}
.element-style .row .col-md-6 .featured-icon-box:not(:last-child) {
  padding: 0;
  margin-bottom: 40px;
}
.ttm-team-member-single-title {
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 0;
}
.ttm-team-member-single-position {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  display: block;
}
.ttm-team-details-list {
  margin: 0;
  padding: 0;
}
.ttm-team-details-list li {
  width: 50%;
  float: left;
  padding-bottom: 10px;
}
.ttm-team-details-list .ttm-team-list-title {
  margin-right: 3px;
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-left: 24px;
}
.ttm-team-extra-details-wrapper .ttm-team-details-list .ttm-team-list-title {
  text-indent: 0;
  width: auto;
  margin-right: 3px;
}
.ttm-team-details-list .ttm-team-list-title,
.ttm-team-details-list .ttm-team-list-value {
  display: inline-block;
}
.ttm-team-list-title i {
  position: absolute;
  text-align: center;
  text-indent: 0;
  font-size: 16px;
  top: 0;
  margin-right: 3px;
  display: inline;
  left: 0;
}
.ttm-team-details-list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}
.member-info-box {
  padding: 30px;
}
.timing-box {
  position: relative;
}
.timing-box i {
  font-size: 25px;
  position: absolute;
  left: 0;
  font-weight: 400;
}
.timing-box h5 {
  padding-left: 35px;
}
ul.info-list,
ul.timing-list {
  padding: 0;
  margin: 0;
}
ul.timing-list li {
  padding: 2px 0;
  font-size: 15px;
  line-height: 23px;
}
ul.timing-list li span.time {
  float: right;
}
ul.info-list li {
  padding: 15px 0;
  font-size: 15px;
  line-height: 23px;
}
ul.info-list li:first-child {
  padding-top: 0;
}
ul.info-list li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
ul.info-list li:last-child {
  padding-bottom: 0;
}
ul.info-list,
ul.timing-list {
  padding-top: 10px;
}
ul.info-list li i {
  margin-right: 10px;
  font-size: 15px;
}
.member-contact-form {
  padding: 30px;
}
.modal-dialog {
  pointer-events: painted;
}
#home-main-slider .carousel-item .mask {
  position: absolute;
  top: 12%;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}
#home-main-slider h4 {
  font-size: 50px;
  margin-bottom: 18px;
  color: #333;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 700;
}
#home-main-slider p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
  color: #333;
  overflow: hidden;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
  display: -webkit-box;
}
#home-main-slider .carousel-item a {
  background-color: #f0faf2;
  color: #45b34a;
  border: 2px solid #45b34a;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 25px;
}
#home-main-slider .carousel-item a:hover {
  border: 2px solid #45b34a;
  background: #45b34a;
  color: #fff;
  text-decoration: none;
}
#home-main-slider .carousel-item h4 {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2.5s;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}
#home-main-slider .carousel-item h4 Span {
  color: #45b34a;
}
#home-main-slider .carousel-item p {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2s;
}
#home-main-slider .carousel-item a {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1.5s;
}
#coding,
#home-main-slider .carousel-item .mask img,
#planning {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
  display: block;
  height: auto;
  max-width: 100%;
}
#coding,
#home-main-slider .carousel-item .mask img,
#home-main-slider a,
#home-main-slider h4,
#home-main-slider p,
#planning {
  -webkit-animation-duration: 1s;
  animation-duration: 2.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes zooin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes head {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes op {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
#home-main-slider .carousel-item {
  height: 100vh;
}
.slider-section {
  position: relative;
  z-index: 1;
  background: url("../images/bg-image/banner-bg.svg") center center no-repeat;
  background-size: cover;
  background-color: #497051;
}
.carousel-control-next-icon {
  background-image: url(../images/icons/slider-right-arrow.svg);
  background-size: contain;
}
.carousel-control-next,
.carousel-control-prev {
  height: 50px;
  width: 50px;
  padding: 5px 5px;
  top: 83%;
  bottom: auto;
  border-radius: 50%;
  opacity: 100%;
  border: 2px solid #45b34a;
  transform: translateY(-50%);
  background-color: #f0faf2;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #fff;
}
.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#Group_bracket,
#Group_code,
#Group_jss,
#Group_php,
#Group_scss {
  animation-name: zooin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#Group_head {
  animation-name: head;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#Group_jss {
  animation-delay: 1.3s;
  animation-duration: 3s;
}
#Group_scss {
  animation-delay: 1s;
  animation-duration: 3s;
}
#Group_bracket {
  animation-delay: 1.5s;
  animation-duration: 3.5s;
}
#Group_code {
  animation-delay: 2s;
  animation-duration: 2s;
}
#Group_100 {
  animation-name: fadeOut;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes left-hand {
  from {
    transform: rotate(5deg) rotateY(20deg);
  }
  to {
    transform: rotate(10deg) rotateY(-10deg);
  }
}
@keyframes right-hand {
  from {
    transform: rotate(-5deg) rotateY(15deg);
  }
  to {
    transform: rotate(0) rotateY(10deg);
  }
}
#left_hand {
  animation: left-hand 1s linear infinite alternate both;
  transform-origin: top left;
  transform-box: fill-box;
}
#right_hand {
  animation: right-hand 1s linear 1s infinite alternate both;
  transform-origin: top left;
  transform-box: fill-box;
}
#mouse {
  animation: fadeIn 2s linear 2s alternate both;
}
#blue-sheet {
  animation: slideInRight 2s ease-in-out 1s alternate both;
}
#white-sheet {
  animation: slideInRight 2s ease-in-out 1.3s alternate both;
}
#setting-3 {
  animation: slideInRight 2s ease 2.5s alternate both;
}
#setting-2 {
  animation: slideInRight 2s ease 2.7s alternate both;
}
#setting-1 {
  animation: slideInRight 2s ease 2.9s alternate both;
}
#playstore-3 {
  animation: slideInRight 2s ease-in-out 3.4s alternate both;
}
#playstore-2 {
  animation: slideInRight 2s ease-in-out 3.6s alternate both;
}
#playstore-1 {
  animation: slideInRight 2s ease-in-out 3.8s alternate both;
}
#css-3 {
  animation: slideInRight 2s ease 4.3s alternate both;
}
#css-2 {
  animation: slideInRight 2s ease 4.5s alternate both;
}
#css-1 {
  animation: slideInRight 2s ease 4.7s alternate both;
}
#playstore {
  animation: slideInRight 2.5s ease-in-out 2.8s alternate both;
}
#css {
  animation: slideInRight 2.5s ease-in-out 3s alternate both;
}
#blue-board {
  animation: slideInRight 2s ease-in-out 1.5s alternate both;
}
#yellow-man {
  animation: slideInRight 2s ease-in-out 1s alternate both;
}
@keyframes updown {
  form {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
#green-arrow {
  animation: updown 2s linear infinite alternate both;
}
#line-1 {
  animation: fadeIn 2s ease-in-out infinite alternate both;
}
#line-2 {
  animation: fadeIn 2s ease-in-out 0.25s infinite alternate both;
}
#line-3 {
  animation: fadeIn 2s ease-in-out 0.5s infinite alternate both;
}
#line-4 {
  animation: fadeIn 2s ease-in-out 0.75s infinite alternate both;
}
#line-5 {
  animation: fadeIn 2s ease-in-out 1s infinite alternate both;
}
@keyframes seven {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
#seven5per {
  animation: seven 2s linear infinite alternate both;
  transform-origin: bottom;
  transform-box: fill-box;
}
#paper-1 {
  animation: slideInRight 2s ease-in-out 1.8s alternate both;
}
#paper-2 {
  animation: slideInRight 2s ease-in-out 2.1s alternate both;
}
#paper-3 {
  animation: slideInRight 2s ease-in-out 2.4s alternate both;
}
ul.megamenu {
  background: #fffffff5;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  transition: 0.5s ease;
}
.list-header a {
  font-size: 18px;
  color: #454545 !important;
  font-weight: 500;
  margin-top: 3px;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
}
.list-header a:hover {
  color: #45b34a !important;
  transition: 0.5s ease;
}
ul.megamenu li p {
  color: #454545;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}
.qcick-btn,
.qcick-btn:focus {
  border: 2px solid #45b34a;
  padding: 7px 18px !important;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  background: #f0faf2;
  color: #45b34a !important;
  outline: 0;
  line-height: 24px;
  border-radius: 20px;
}
.qcick-btn .search-icon {
  display: none;
}
.qcick-btn:hover {
  background: #45b34a;
  color: #fff !important;
  transition: 0.5s ease;
  border-radius: 20px;
  border: 2px solid #45b34a;
}
.second-footer {
  position: relative;
}
.contact-info {
  background-color: #4ca0e2;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  position: absolute;
  top: -94px;
  right: 0;
  left: 20%;
}
h4.country-name {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  display: block;
  margin: 0 0 5px;
  line-height: 25px;
  text-transform: uppercase;
}
span.company-name {
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
span.city-name {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #acd1f1;
  margin-bottom: 10px;
}
.branch-item a {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  transition: 0.2s ease-in-out 0s;
  -webkit-transition: 0.2s ease-in-out 0s;
  text-decoration: none;
}
.pricingTable {
  text-align: center;
  background: #fff;
  padding-top: 5px;
  transition: all 0.5s ease-in-out 0s;
}
.pricingTable .heading > h3 {
  margin: 0;
  text-transform: uppercase;
  color: #45b34a;
  font-size: 24px;
}
.pricingTable-header > .price-value {
  display: block;
  font-size: 20px;
  line-height: 60px;
  font-weight: 600;
  color: #45b34a;
}
.pricingTable-header > .price-value > .currency {
  font-size: 16px;
  margin-right: 4px;
  position: absolute;
  top: 48px;
}
.pricingTable-header > .price-value > .mo {
  font-size: 12px;
  line-height: 0;
  text-transform: capitalize;
}
.pricingTable > .pricingTable-header {
  color: #000;
  background: #fff;
  height: 130px;
  position: relative;
  transition: all 0.5s ease 0s;
  border: 1px solid #45b34a;
}
.pricingTable > .pricingContent {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #45b34a;
}
.pricingTable .rightSign1 {
  color: green !important;
  background: #fff;
  border-radius: 45px;
  border: 2px solid;
}
.pricingTable .crossSign1 {
  color: #de2315;
  background: #fff;
  border-radius: 45px;
  padding: 0 2px;
  border: 2px solid;
}
.pricingTable > .pricingContent > ul > li {
  padding: 15px 0;
  border-bottom: 1px solid #45b34a;
  color: #45b34a;
  font-size: 11px;
  font-weight: 600;
}
.pricingTable-header > .heading {
  display: block;
  padding: 20px 0;
}
.pricingTable > .pricingContent > ul {
  list-style: none;
  padding: 0;
}
.pricingTable > .pricingContent > ul > li {
  padding: 15px 0;
  border-bottom: 1px solid #45b34a;
  color: #45b34a;
  font-size: 11px;
  font-weight: 600;
}
.pricingTable .ct1 {
  background: #45b34a;
}
.pricingTable .ct1 a {
  color: #fff;
}
.pricingTable .ct1:hover {
  background: #075e89;
}
.pricingTable > .pricingContent > ul > li:last-child {
  border: 0 none;
}
@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(even) .head::after,
  #timeline .demo-card:nth-child(odd) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  #timeline .demo-card:nth-child(even) .head::before,
  #timeline .demo-card:nth-child(odd) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0 0 2px 8px #f7f7f7;
  }
}
.demo-card:nth-child(1) {
  order: 1;
}
.demo-card:nth-child(2) {
  order: 4;
}
.demo-card:nth-child(3) {
  order: 2;
}
.demo-card:nth-child(4) {
  order: 5;
}
.demo-card:nth-child(5) {
  order: 3;
}
.demo-card:nth-child(6) {
  order: 6;
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #fff;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1.2rem;
}
.ttm-post-featured img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.ttm-blog-single .ttm-post-featured img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  color: #fff;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px;
  }
}
#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
  height: 217px;
  object-fit: cover;
}
#timeline .demo-card {
  background-color: #45b34a;
}
#timeline .demo-card .head::after {
  border-color: #45b34a;
}
.all-price-section .ttm-btn {
  background-color: #45b34a;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px !important;
}
.featured-icon-box .featured-content .featured-desc p {
  text-align: justify;
}
.service-detail-feature-section .featured-icon-box {
  margin-bottom: 30px;
}
.port {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 70px 0;
  background: #fff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.close-box .close-btn {
  cursor: pointer;
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A)
    no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item_open .close-box .close-btn {
  opacity: 1;
  top: 25px;
  right: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#home-main-slider .svg {
  height: 266px;
}
.form-error-white {
  color: #fff9c4;
}
.form-error-red {
  color: red;
}
.ttm-blog-single-content ul {
  list-style: disc;
}
.sidebar .content-area article .entry-content > h3 {
  margin: 6px 0;
  font-size: 22px;
}
.sidebar .content-area article .entry-content > h3 span {
  font-size: 22px !important;
}
.sidebar .content-area article .entry-content > h2 span {
  margin-bottom: 20px !important;
}
.sidebar .content-area article .entry-content > h2 span {
  font-size: 26px !important;
}
.sidebar .content-area article .entry-content > h2 img {
  margin-top: 14px;
}
.sidebar .content-area article .entry-content > p > span {
  font-size: 20px !important;
}
.sidebar .content-area .entry-content .entry-header h1 {
  font-size: 27px;
}
.sidebar .content-area .entry-content p a span {
  color: #45b34a;
  text-decoration: none !important;
}
.sidebar .content-area ul li a span {
  color: #45b34a;
  text-decoration: none !important;
}
.ttm-row {
  padding: 80px 0;
}
.package-block {
  padding: 0 0 40px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 22px;
  border-radius: 22px;
  overflow: hidden;
  background: #fff;
}
.package-block-2 {
  background: #45b34a;
}
.package-block .package-info {
  padding: 15px 0;
  text-align: center;
}
.package-block ul li {
  text-transform: capitalize;
  color: #383838;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 12px;
}
.package-block ul > li.sub-heading {
  font-weight: 600;
  text-transform: uppercase;
}
.package-block ul li ol > li {
  margin-left: 16px;
}
.new-package ul li ol > li {
  margin-left: 16px;
  display: flex;
}
.package-block-2 ul li {
  color: #fff;
}
.package-block button {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
  outline: 0;
  background: #45b34a;
  border-style: none;
  font-weight: 600;
  margin: 20px auto 0;
  font-size: 14px;
  padding: 11px 18px;
  cursor: pointer;
}
.package-block-2 button {
  background: #fff;
  color: #45b34a;
}
.package-block ul li span {
  margin-right: 16px;
}
.package-block ul li .plus {
  float: right;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
}
.package-block-2 ul li .plusminus {
  color: #fff;
}
.package-block ul li span .la-times {
  color: #fff;
  background: 0 0;
  font-size: 14px;
  background: #45b34a;
  padding: 5px;
  border-radius: 50%;
}
.package-block ul li span .la-check {
  border-radius: 50%;
  background: 0 0;
  color: #fff;
  font-size: 14px;
  background: #45b34a;
  padding: 5px;
}
.package-block-2 ul li span .la-times {
  color: #45b34a;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px;
  background: #fff;
}
.package-block-2 ul li span .la-check {
  border-radius: 50%;
  color: #45b34a;
  font-size: 14px;
  padding: 5px;
  background: #fff;
}
.package-block .package-info p {
  font-size: 30px;
  color: #45b34a;
  margin-bottom: 5px;
  line-height: 1.5;
}
.package-block-2 .package-info p {
  color: #fff;
}
.package-block .package-info h3 {
  color: #45b34a;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
}
.package-block-2 .package-info h3 {
  color: #fff;
}
.package-block .package-info h3 span {
  font-size: 12px;
}
.package-block .moreless-button {
  background: #45b34a;
  border-style: none;
  text-transform: capitalize;
  color: #fff !important;
  font-weight: 600;
  margin: 20px auto 0;
  font-size: 14px;
  padding: 11px 18px;
  cursor: pointer;
}
.package-block-2 .moreless-button {
  background: #fff !important;
  color: #45b34a !important;
}
.package-block .package-content {
  padding: 0 26px;
}
.package-block .package-content > ul {
  padding: 0;
}
.package-block .package-content > ul ol {
  padding: 0;
}
ul.moretext-1.sub-menu li {
  margin-left: -8px;
}
ul.moretext-2.sub-menu li {
  margin-left: -8px;
}
ul.moretext-3.sub-menu li {
  margin-left: -8px;
}
.package-block .package-content .moretext-1,
.package-block .package-content .moretext-2,
.package-block .package-content .moretext-3 {
  display: none;
}
.package-block .package-content .lessMore {
  text-align: center;
  margin-top: 26px;
}
.package-block-2 .accordion_body {
  background: #fff;
}
.package-block-2 .accordion_body p {
  color: #45b34a;
}
.accordion_body {
  background: #45b34a;
  margin-top: 8px;
  margin-left: 24px;
}
.accordion_body p {
  padding: 16px 13px;
  margin: 0;
  font-weight: 500;
  text-transform: none;
  font-size: 13px;
  color: #fff;
}
.plusminus {
  float: right;
  cursor: pointer;
  font-size: 14px;
  margin: 0 !important;
  font-weight: 500;
  color: green;
}
.popup-part .modal {
  background: #424242d6;
}
#modal-subscribe button {
  position: absolute;
  right: 0;
  z-index: 99;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.popup-part .close {
  right: 12px !important;
  top: 5px;
  font-size: 42px;
}
.banner-offer {
  margin-top: 90px;
  width: 100%;
  margin-left: 0;
  margin-bottom: -120px;
}
.banner-offer img {
  width: 100%;
}
.moretext-4,
.moretext-5,
.moretext-6,
.moretext-7,
.moretext-8,
.moretext-9 {
  display: none;
}
@media (max-width: 1200px) {
  .banner-offer {
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.inquiry-body {
  background: #45b34a !important;
}
.how-we-work-page {
  padding-bottom: 0;
}
