.flex-box {
  display: flex;
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}

.pricing-btn-primary,
.pricing-btn-primary:focus {
  height: 50px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  background: #45b34a;
  color: #000 !important;
  outline: 0;
  line-height: 24px;
  border-radius: 10px;
  border: none;
  transition: 0.8s ease-in-out;
}

.pricing-btn-primary:hover {
  cursor: pointer;
  background: transparent;
  color: #45b34a;
  border: 2px solid #45b34a;
}

.pricing-btn-secondary,
.pricing-btn-secondary:focus {
  height: 50px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  background: #f0faf2;
  color: #000 !important;
  outline: 0;
  line-height: 24px;
  border-radius: 10px;
  border: none;
  transition: 0.8s ease-in-out;
}

.pricing-btn-secondary:hover {
  cursor: pointer;
  background-color: #45b34a;
  color: #f0faf2 !important;
}

.plan-btn {
  height: 50px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  background: #45b34a;
  color: #fff !important;
  outline: none;
  line-height: 24px;
  border-radius: 10px;
  border: none;
  transition: 0.8s ease-in-out;
}

.plan-btn:hover {
  cursor: pointer;
  background-color: #000;
  border: none;
  outline: none;
}

.section-packages {
  position: relative;
  margin-top: 150px;
  transition: height 1s ease-in-out;
}

.section-packages img.bg-img {
  /* content: " "; */
  position: absolute;
  top: -12%;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.price-packages {
  position: relative;
  background-color: #fff;
  padding: 24px 16px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
}

.price-packages .best-value {
  height: 40px;
  width: 100%;
  background-color: #45b34a;
  position: absolute;
  top: -2.5rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.price-packages .best-value P {
  height: 100%;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  line-height: 40px;
}
.package_table {
  padding-bottom: 0 !important;
}

.package {
  border-bottom: 2px dotted #828282;
  margin-bottom: 1.125rem;
}
.package h3 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}
.package p.info {
  text-align: center;
  color: #000 !important;
}

.package p.pricing {
  color: #45b34a;
  text-align: center;
}
.package p.pricing span {
  font-size: 24px;
  font-weight: 600;
}
.package p.pricing sup.Rs {
  color: #45b34a;
  font-size: 14px;
  font-weight: 600;
}
.package p.pricing span.month {
  font-size: 16px;
}

.package-content .plan-btn {
  margin-bottom: 18px;
}

.package-content .package-list h6 {
  position: relative;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  padding-left: 0.875rem;
  margin-bottom: 8px;
  text-align: left;
  padding-left: 1.5rem;
}

.package-content .package-list h6:before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #45b34a;
}

.package-content .package-list .see-more.show .label-content {
  height: 100%;
}

/*===customize form modal--subscription ===*/

h5.normal{
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

h5.customize{
  font-size: 24px;
  font-weight: 500;
}



.modalbody{
  padding:0 !important;
}

.left-side-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #45b34a;
}

.right-side{
  position: relative;
  padding: 3rem 2rem 3rem 0;
}

.right-side .close-button{
position: absolute;
top: 0;
right: 0;
height: 40px;
width: 40px;
border-radius: 0 0 0 1rem;
background-color: #45b34a;
display: flex;
justify-content: center;
align-items: center;

}

.right-side .close-button button span{
  font-size:18px;
}

.right-side .close-button button span i{
color: #fff;
}


.left-side-img img{

  width: 250px;
  object-fit: cover;
}


.modal-dialog.modal-dialog-centered {
  max-width:800px;

}


input{
  height:45px;
  width: 100%;
  border: 2px solid #B39E9E;
  padding: 0 0.5rem;
  font-size: 1rem;

}

input::placeholder{
  font-size: 1rem;
}

.paynow{
  height:45px;
  width:100%;
  background-color: #45b34a;

  font-size: 18px;
  font-size: 500;
  border: none;
  outline: none;
  margin-top: 1rem;
  cursor: pointer;

}

.paynow:hover{
  background: #000;

}

.paynow a{
  font-size: 18px;
  font-size: 500;
  color: #fff;
}

.paynow a:hover{
  cursor: pointer;

}


/*customize form*/

h5.customize{
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #000;
  text-transform: capitalize;
  padding: 0 !important;
  margin-bottom: 8px !important;
}

h5.customize::before,h5.customize:after{
  display: none;
}

.right-side form{
  text-align: left;
  display: block;
}

.right-side form p{
  padding:0 !important
}

.form-container{
  padding:3rem ;
}

.radio{
  display: flex;
  gap: 16px;
}


.checkbox{
  display: flex;
  gap: 16px;
}

.dialogbox{
  max-width:80% !important;
}

#ad-amt{
display: none;
}









/*======== media query========*/


@media (max-width: 1200px) {
  .container {
    padding: 0 15px !important;
  }
}

/* @media(max-width:1150px){
  .custom{
    flex-direction: column;
  }
} */

@media (max-width: 991px) {
  .section-packages {
    margin-top: 90px !important;
    margin-bottom: 100px;
  }

  .section-packages:after {
    display: none;
  }
  .section-packages img.bg-img {
    display: none;
  }

  .seo-basic{
    margin-top: 2.5rem;
  }

  .standard {
    margin-top: 2.5rem;
  }

  .premium {
    margin-top: 2.5rem;
  }
}

@media (max-width: 768px) {
  .gap-20 {
    gap: 1.25rem;
  }

  .premium {
    margin-top: 2.5rem;
  }

  .seo-basic{
    margin-top: 0;
  }

  .left-side-img{
    display: none;
  }

  .modal-dialog.modal-dialog-centered {
    max-width:100%;
  
  }

  .right-side{
    padding:2rem ;
  }

  .right-side .close-button {
    top:-1px;
  }

  h5.customize{
    line-height: 32px;
  }

  .dialogbox{
    max-width:100% !important;
  }
  .checkbox{
    gap: 5px;
    flex-direction: column;
  }

  .form-container{
    padding: 2rem;
  }
}
