.clr_green {
  color: #45b34a;
}

.p-180 {
  padding: 160px 0;
}

.p-40 {
  padding: 40px 0;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.directors-container::after {
  content: " ";
  position: absolute;
  top: 160px;
  left: 50px;
  height: 200px;
  width: 1250px;
  border: 4px solid #45b34a;
  z-index: -1;
}

.imagebox {
  transition: all 0.5s ease;
}

.thumbnail {
  height: 320px;
  width: 100%;
  aspect-ratio: auto;
  transition: all 0.5s ease;
}

.content {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 18px 0 0;
  background-color: #fff;

  transition: all 0.5s ease;
  border: 1px solid #e0e0e0;
}

.content-administration {
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #45b34a;
  transition: all 0.5s ease;
}

.content-administration p.designation {
  color: #fff !important;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 12px;
}

.content:hover {
  cursor: pointer;
}

.imagebox:hover .thumbnail img {
  transform: scale(1.05);
  cursor: pointer;
}

.imagebox:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.admin-container {
  text-align: center;
}

.admin-container h6 {
  font-size: 16px;
  font-weight: 600;
  padding: 14px 0;
}

.admin-container:hover .thumbnail img {
  transform: scale(1.05);
  cursor: pointer;
}

.marketing-information h6 {
  font-size: 24px;
  margin-bottom: 0;
  position: relative;
}
.marketing-information h6::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  top: 180%;
  left: 0;
  background-color: #45b34a;
}

.marketing-information p {
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  padding: 32px 0;
  text-transform: none;
}

.marketing-imagebox {
  border-radius: 5px 5px 0px 0px;
}

.marketing-imagebox:hover .thumbnail img {
  transform: scale(1.05);
  cursor: pointer;
}

.marketing-content {
  text-align: left;
  position: relative;
  z-index: 2;
  padding: 16px 0 0 24px;
  background-color: #fff;

  transition: all 0.5s ease;
  border: 1px solid #e0e0e0;
}

.marketing-content h6 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: 600;
}
.marketing-content p {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.borders {
  border: 2px solid #45b34a;
}

.p-abs {
  position: absolute !important;
  top: -90px;
}
.development-information h6 {
  font-size: 24px;
  margin-bottom: 0;
  position: relative;
}

.development-information p {
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  padding: 24px 0;
  text-transform: none;
}
.development-content {
  text-align: left;
  position: relative;
  z-index: 2;
  padding: 12px 0 0 12px;
  background-color: #fff;

  transition: all 0.5s ease;
  /* border: 1px solid #e0e0e0; */
}

.development-content h6 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: 600;
}
.development-content p {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

section.career-banner .container {
  border: 2px solid #e0e0e0;
  padding: 16px;
}

section.career-banner h2 {
  font-size: 48px;
  font-weight: 600;
  position: relative;
}
section.career-banner h2::after {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  top: 20px;
  left: 58%;
  background-color: #000;
}

section.career-banner h1 {
  font-size: 64px;
  font-size: 700;
}

section.career-banner p {
  text-transform: capitalize;
  color: #000 !important;
  font-size: 24px;
  font-weight: 500;
}

section.career-banner button {
  height: 55px;
  width: 400px;
  border: none;
  outline: none;
  background-color: #45b34a;
  transition: all 0.5s ease-in-out;
}

section.career-banner button:hover {
  background-color: #000;
  cursor: pointer;
}

section.career-banner button a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

section.career-banner button a span {
  margin-left: 10px;
}
section.career-banner button a span i {
  font-size: 24px;
  font-weight: 300;
}
@media only screen and (max-width: 1200px) {
  .p-180 {
    padding: 50px 0;
  }

  section.career-banner h2::after {
    left: 75%;
  }
  section.career-banner button {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .p-180 {
    padding: 80px 0 40px 0;
  }
  .p-40 {
    padding: 20px 0px;
  }
  .p-abs {
    position: relative !important;
    top: 0;
  }
  .directors-container::after {
    display: none;
  }
  section.career-banner h2::after {
    left: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .order-2 {
    order: 2 !important;
  }
  .development-container {
    padding: 30px 15px !important;
  }
  section.career-banner h2 {
    font-size: 36px;
  }
  section.career-banner h2::after {
    left: 55%;
  }
  section.career-banner h1 {
    font-size: 48px;
  }

  section.career-banner p {
    font-size: 18px;
  }

  section.career-banner button {
    height: 55px;
    width: 100%;
  }

  section.career-banner button a {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }

  section.career-banner button a span {
    margin-left: 10px;
  }
  section.career-banner button a span i {
    font-size: 24px;
    font-weight: 300;
  }
}

@media only screen and (max-width: 576px) {
  .borders {
    border-top: 2px solid #45b34a;
    border-bottom: 2px solid #45b34a;
    border-left: none;
    border-right: none;
  }

  .development-content h6 {
    font-size: 18px;
  }

  section.career-banner h2 {
    font-size: 24px;
  }

  section.career-banner h2::after {
    left: 37%;
    width: 50px;
  }
  section.career-banner h1 {
    font-size: 32px;
    line-height: 16px;
  }
  section.career-banner button a {
    font-size: 20px;
  }
  section.career-banner button a span i {
    font-size: 20px;
  }
}
